.logout-btn {
    margin-top: auto;
    padding: 15px 0;
    text-align: center;
    background-color: transparent;
}

.logout-btn a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
    padding: 12px 24px;
    background-color: #0f0052;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgba(231, 76, 60, 0.4);
}

.logout-btn a:hover {
    background-color: #C0392B;
    box-shadow: 0 6px 15px rgba(192, 57, 43, 0.5);
    transform: scale(1.05);
}
