* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

body {
    background-color: rgb(222, 182, 213);
    display: flex;
    flex-direction:row;
    height: 100vh;
}

/* body {
    background-color: rgb(222, 182, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

nav {
    height: 80vh;
    width: 250px;
    background-color: #333;
    padding: 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
}

.logout-btn {
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: #E74C3C;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #0056b3;
}

.container {
    /* max-height: 100px; */
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 16px;
    margin: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.back-button {
    position: fixed; /* Keeps it in a fixed position on the screen */
    bottom: 15%;    /* 20px from the bottom of the page */
    right: 12%;      /* 20px from the left side of the page */
    padding: 28px;
    background-color: #007BFF;
    color: white;
    border:#333;
    /* border-width: 5px; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0056b3;
}

header {
    position: absolute;
    top: 10%;
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    /* border: 2px solid; */
    border-color: rgb(130, 48, 48);
    border-width: 2px;
    border-radius: 7px;
    padding: 10px;
    /* background-color:rgb(235, 182, 213); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px !important;
    color: #b21818;
}

table {
    /* justify-content: center; */
    background-color: #618523;
    /* border-color: 2px solid rgb(234, 235, 246); */
    border-radius: 4px;
}

/* table tr { */
    /* border-color: #cf284c; */
    /* border-width: 50px; */
/* } */

table tr th {
    border-color: #2b5a8b;
    border-width: 3px;
}